.projectCards {
    margin: 35px 0px;
    padding: 10px 0px;
    border-radius: 10px;
    color: var(--div-text-color);
    /* background-color: aqua; */
}

.languageTitle {
    color: var(--text-color);
    margin: 20px 0px;
}

.subCard {
    background-color: var(--div-color);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
    padding: 2px 30px 10px;
    margin: 10px 0px;
    border-radius: 10px;
}