.projectCards {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--div-text-color);
}

.languageTitle {
    color: var(--text-color);
    margin: 20px 0px;
}

.subCard {
    display: flex;
    flex-direction: column;
    background-color: var(--div-color);
    box-shadow: 1px 1px 2px var(--shadow-color);
    padding: 30px;
    border-radius: 17px;
    margin: 10px 0px;
}

.projectTitle {
    margin: 10px 0px 0px;
}

.projectYear {
    margin: 2px;
}

.gitHubBG {
    background-color: #d3d3d3;
    width: 55px;
    display: flex;
    padding: 4px 5px;
    border-radius: 10px;
    margin: 15px 0px 0px 0px;
}

.gitHubBG > img {
    margin: auto;
    width: 35px
}

.techHeader {
    margin: 5px 0px;
    text-decoration: solid underline;
}

.techList {
    margin: 0px;
    list-style: square;
    padding-left: 20px;
}