.grid_container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    
}
.grid_container button {
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 4px;
}
.control_interface {
    display: flex;
    flex-direction: row;
    padding: 25px 60px;
    /* background-color: lightgray; */
    justify-content: space-around;
    /* background-color: lightsalmon; */
}

.grid_container p {
    margin: 10px 40px;
}

#rndm_btn {
    background-color: rgb(236, 144, 14);
}

.button_interface {
    display: flex;
    flex-direction: column;
}

.filter_controls {
    /* background-color: black; */
    width: 190px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.filter_controls input {
    width: 50px;
    height: 20px;
}

#ca_env {
    width: 600px;
    height: 600px;
    background-color: seagreen;
}

.grid_cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5px;
    height: 5px;
}

.grid_container h1 {
    text-align: center;
}

@media screen and (max-width: 800px) {
    

    .control_interface {
        justify-content: space-around;
    }
}
    

