/* ImageCarousel.css */
.carousel-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: row;
    align-items: center;
    height: 400px;
}

.imageFrame {
    width: 400px;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    background-color: black;
}

.projectImage {
    cursor: pointer;
    flex-shrink: 0;
    transition: opacity 0.7s ease;
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 500px) {
    .carousel-container {
        height: auto;
    }

    .imageFrame {
        width: 100%;
        height: auto;
    }

    .projectImage {
        width: 100%;
        height: auto;

    }
}
    


