.projectsPage {
    width: 100%;
    padding: 25px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.helperTitle {
    /* Choose a language or technology */
    color: var(--text-color);
    grid-column: 2;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.logoWheel {
    grid-column: 2;
}

.projectCards {
    grid-column: 2;
}

@media screen and (max-width: 1400px) {
    .projectsPage {
        grid-template-columns: 1fr 10fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .projectsPage {
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .languageTitle {
        text-align: center;
    }
}
    
